PORT=4000
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:4000

GOOGLE_CLIENT_ID=1066477263333-ndvodud8astm1ou5u7b77pidq76atvp3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh

MYSQL_HOST=db
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=auth_demo

NODE_ENV=development
